@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Outfit:wght@400;700&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: white;
  background-image: linear-gradient(
    to bottom,
    black 0%,
    white 80%,
    white 80%,
    white 100%
  );
  height: 100vh;
  margin: 0;
}

nav {
  background-image: linear-gradient(
    to right,
    rgb(226, 12, 12) 0%,
    white 30%,
    white 30%,
    rgb(163, 38, 6) 100%
  );
  width: 100%;
  height: 80px;
  background-color: rgb(220, 21, 18);
  line-height: 80px;
  padding: 0px 32px;
}
nav label {
  color: white;
  font-weight: bold;
  font-size: 30px;
  float: left;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: white;
  padding: 32px;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a:hover {
  color: gray;
}
h1 {
  color: white;
  margin-left: 500px;
  margin-top: 200px;
  font-size: 80px;
}
